<!DOCTYPE html>
<html>
<head>
	<title>Projet partie 1 : Authentification</title>
	<link href="/style.css" rel="stylesheet" type="text/css" media="screen" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<body>

	<h1>Service d'authenfication</h1>
	
	<p>Bonjour, vous n'êtes pas connecté.<br />
	Pour profiter pleinement de ce service merci de vous connecter si vous possédez un compte ou de vous inscrire dans le cas contraire.</p>
	
	<ul>
		<li><a href="/session">Connexion</a></li>
		<li><a href="/register">Inscription</a></li>
	</ul>
	
</body>
</html>
