<!DOCTYPE html>
<html>
<head>
  <title>Protected section - My app 2</title>
</head>
<body>

	<h1>My protected section</h1>
	
	<p>This is the protected section. Only available people can access to this section.</p>

</body>
</html>

